@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

@import "node_modules/muicss/lib/sass/mui.scss";
@import "components/links";
@import "components/lists";
@import "helpers/margins";

$roboto-slab: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;

body {
  font-family: $open-sans;
  font-weight: normal;
  background-color: #eee;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $open-sans;
  font-weight: normal;
}


.jobstatus-wrapper {
  margin-bottom: 20px;
  border: 1px solid #eee;
  padding: 10px;
}

.supplier-header {
  margin-left: 20px;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 20px;
}

.long-text {
  word-break: break-all;
}

.table-header {
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 10px;
}

.app {
  width: 95%;
  height: 90%;
  margin: auto;
  padding: 10%;
}

.tabsContainerWrapper {
  background-color: #fff;
  padding: 29px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 800px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
