@import url(//fonts.googleapis.com/earlyaccess/notosanskannada.css);

body {
  font-family: 'Noto Sans Kannada', sans-serif;
  color: #191919;
}

p,h1,h2,h3,h4,h5, span {
  color: #191919;
}

.period-block:after {
  content: "";
  height: 18px;
  display: inline-block;
  vertical-align: middle;
}
