@import url(//fonts.googleapis.com/earlyaccess/notosanskannada.css);
@import "links.scss";

body {
  font-family: 'Noto Sans Kannada', sans-serif;
  color: #191919;
}

p,h1,h2,h3,h4,h5, span {
  color: #191919;
}

.period-block:after {
  content: "";
  height: 18px;
  display: inline-block;
  vertical-align: middle;
}

.page-link-parent {
  display: block;
  margin-bottom: 20px;
}

.page-link {
  display: inline-block;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 3px;
  font-size: 0.9em;
}

.active-link {
  color: #0D3C61;
  text-decoration: underline;
}

.inactive-link {
  color: #2196F3;
}

.jobstatus-wrapper {
  margin-bottom: 20px;
  border: 1px solid #eee;
  padding: 10px;
}

.version {
  position: absolute;
  top: 11px;
  right: 11px;
  z-index: 2000;
  color: white;
  font-size: 0.5em;
}

