    <div ng-controller="StatusListCtrl" ng-init="init()">
      <h3>Status for: {{provider.providerName}}</h3>

      <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>Tidspunkt</th>
            <th>Fil</th>
            <th>Oppgave</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="status in statuses" class="row-hover" ng-click="importResult(status.correlation_id)">
            <td ng-bind="status.date | date:'dd.MM.yyyy kl. H.mm.ss'"></td>
            <td>{{ status.file_name }}</td>
            <td>{{ status.action | capitalize }}</td>
            <td>{{ status.state | capitalize }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <h4>Last opp filer</h4>

    <input type="file" id="file" name="file"/>
    <button class="btn" ng-click="add()">Legg til valgt fil</button>
    <button class="btn" ng-click="reload()">Last siden på nytt</button>

    </div>
