<div ng-controller="StatusListCtrl" ng-init="init()">
  <h3>Status for: {{provider.providerName}}</h3>
  <p>Klikk på en rad for å se detaljer om en import</p>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>Tidspunkt</th>
          <th>Fil</th>
          <th>Oppgave</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="status in statuses | orderBy: '-date'" class="row-hover" ng-click="importResult(status.correlation_id)">
          <td ng-bind="status.date | date:'dd.MM.yyyy kl. H.mm.ss'"></td>
          <td>{{ status.file_name }}</td>
          <td>{{ status.action | capitalize }}</td>
          <td>{{ status.state | capitalize }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <button class="btn" type="file" ngf-select="uploadFiles($file, $invalidFiles)"
  accept="application/zip" ngf-max-height="1000" ngf-max-size="50MB">
  Last opp fil</button>
  <button class="btn" ng-click="reload()">Oppdater status</button>
  <br><br>
  Fil:
  <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
    <span class="upload-progress" ng-show="f.progress >= 0">
      <div style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div>
    </span>
  </div>
  {{errorMsg}}
  <br>


</div>
