/* app css stylesheet */

.row-hover:hover {
  cursor: pointer;
  background-color: #DFE6E6;
}

a {
  color:black
}

form .upload-progress {
  line-height: 15px;
}

.upload-progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}

.upload-progress div {
  font-size: smaller;
  background: #16c1f3;
  width: 0;
}
