
    <div ng-controller="View1Ctrl" ng-init="init()">
      <h4>Status for leverandør {{providerId}}</h4>

      <table class="u-full-width">
        <thead>
          <tr>
            <th>Tidspunkt</th>
            <th>Fil</th>
            <th>Oppgave</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="status in statuses">
            <td ng-bind="status.date | date:'dd.MM.yyyy kl. H.mm.ss'"></td>
            <td>{{status.file_name}}</td>
            <td>{{status.action | capitalize}}</td>
            <td>{{status.state | capitalize}}</td>
          </tr>
        </tbody>
      </table>

      <h4>Datagyldighet</h4>
      <p>Dine data er gyldig til og med mars 2016</p>

      <h4>Last opp filer</h4>
          <input type="file" id="file" name="file"/>
          <br>
          <button ng-click="add()">Add</button>
    </div>
